.google-btn {
    background-color: white;
    color: #2563eb;
    border: 1px solid #2563eb;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
}
.google-btn:hover {
    background-color: #2563eb;
    color: white;
}